VITE_SUPABASE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrY3VnemRhd3NiZ255dHFremZ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDU1MTE4NjYsImV4cCI6MjA2MTA4Nzg2Nn0.gYwYo_i6FWbnJ6xl2rN7yJW77CNHiIjGXqs9lG15tyg
VITE_SUPABASE_URL= https://ukcugzdawsbgnytqkzfz.supabase.co
